## Homework 2.1

## 1. Hello world everyday!
### 1.1 Make a vector containing days of the week, from Monday to Sunday.
### 1.2 Use a for loop to pring "Hello world XXXday!" for each day of the week.

In [167]:
# 1-Hello world everyday!
week <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
for (day in week) {
    print(paste("Hello world ", day, "!", sep = ""))
}

[1] "Hello world Monday!"
[1] "Hello world Tuesday!"
[1] "Hello world Wednesday!"
[1] "Hello world Thursday!"
[1] "Hello world Friday!"
[1] "Hello world Saturday!"
[1] "Hello world Sunday!"

## 2. The Pie
### 2.1 In the first 100 digits of pie, count how many numbers are even. 
### 2.2 Convert the first 200 digits of pie into a 20x10 matrix
https://www.piday.org/million/

In [187]:
# 2.1-Counting even numbers in the 100 digit of pie
pie <- "3.14159265358979323846264338327950288419716939937510582097494459230781640628620899862803482534211706798214808651328230664709384460955058223172535940812848111745028410270193852110555964462294895493038196"
str <- strsplit(pie, split="")
digit <- str[[1]][-1:-2]
even.count = 0
for (i in c(1:100)) {
    if (as.integer(digit[i])%%2 == 0) {
        even.count = even.count + 1
    }    
}
print(even.count)

# 2.2-Convert first 200 digits of pie into a 20x10 matrix
digit.matrix <- matrix(as.integer(digit[1:200]), nrow=20, ncol=10, byrow=TRUE)
digit.matrix

[1] 51

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,] 1    4    1    5    9    2    6    5    3    5
 [2,] 8    9    7    9    3    2    3    8    4    6
 [3,] 2    6    4    3    3    8    3    2    7    9
 [4,] 5    0    2    8    8    4    1    9    7    1
 [5,] 6    9    3    9    9    3    7    5    1    0
 [6,] 5    8    2    0    9    7    4    9    4    4
 [7,] 5    9    2    3    0    7    8    1    6    4
 [8,] 0    6    2    8    6    2    0    8    9    9
 [9,] 8    6    2    8    0    3    4    8    2    5
[10,] 3    4    2    1    1    7    0    6    7    9
[11,] 8    2    1    4    8    0    8    6    5    1
[12,] 3    2    8    2    3    0    6    6    4    7
[13,] 0    9    3    8    4    4    6    0    9    5
[14,] 5    0    5    8    2    2    3    1    7    2
[15,] 5    3    5    9    4    0    8    1    2    8
[16,] 4    8    1    1    1    7    4    5    0    2
[17,] 8    4    1    0    2    7    0    1    9    3
[18,] 8    5    2    1    1    0    5    5    5    9
[19,] 6    4    4    6    2    2    9    4    8    9
[20,] 5    4    9    3    0    3    8    1    9    6

## 3. Prime numbers
### Find first 500 prime numbers. What is the 500th prime number?

In [206]:
# 3-Find the Nth prime number
Primetest <- function(x){
    i=1
    num=0
    while (i<=x) {
        num = num + 1
        if (num == 2) {
            i = i + 1
        }
        else if (num == 1 || any(num %% 2:sqrt(num) == 0)) {
            next
        }
        else {
            i = i + 1
        }
    }
    if (x == 1) {
        print(paste(x, "st prime number is ", num, ".", sep=""))
    }
    else if (x == 2) {
        print(paste(x, "nd prime number is ", num, ".", sep=""))
    }
    else {
        print(paste(x, "th prime number is ", num, ".", sep=""))
    }
}

Primetest(500)

[1] "500th prime number is 3571."

## 4. Fibonacci number
### Define a function to return the Xth fibonacci number
https://en.wikipedia.org/wiki/Fibonacci_number

In [186]:
# 4-Find the Xth fibonacci number
Fibonacci <- function(x) {
    if (x%%1!=0) {
        print("Please input an integer...")
    }
    else if (x == 1 || x == 2) {
        output <- paste("The 1th fibonacci number is 1.")
        print(output)
    }
    else {
        a <- 1
        b <- 1
        for (i in c(3:x)){
            sum = a + b
            a = b
            b = sum
        }
        output <- paste("The ", x, "th fibonacci number is ", sum, ".", sep = "")
        print(output)
    }
}

Fibonacci(10)

[1] "The 10th fibonacci number is 55."

## 5. Read both NAV-D14_DEseq2.csv and NAV-MEM-DEseq2.csv into dataframes: df.nav.d14 and df.nav.mem .
### 5.1 Subset both dataframes to include only "baseMean", "log2FoldChange" and "padj"
### 5.2 Merge the two dataframes (Change column names so that there are no repetative column names. The base mean in two spreadsheets are the same so delete the extra one.) into a dataframe df.nav.d14.mem.
### 5.3 Sort the new dataframe on " baseMean".
### 5.4 Define a function to evaluate padj output:
    - padj > 0.05: nonsig
    - padj <= 0.05: sig
### 5.5 Apply the function to both nav.mem and nav.d14 and create one column to add the evaluation result.

In [195]:
# 5-Read the 2 dataframes
df.nav.d14 <- read.csv("NAV-D14_DEseq2.csv", head = TRUE)
df.nav.mem <- read.csv("NAV-MEM_DEseq2.csv", head = TRUE)
head(df.nav.d14)
head(df.nav.mem)

  gene.name baseMean   log2FoldChange lfcSE     stat       pvalue
1 TSPAN6     25.256745  1.30246882    0.4166710  3.1258926 1.772662e-03
2 TNMD        0.288508 -0.05077872    0.4875003 -0.1041614 9.170413e-01
3 DPM1      163.507773 -0.05502833    0.2492486 -0.2207769 8.252662e-01
4 SCYL3     296.461713  0.27370099    0.1964251  1.3934117 1.634953e-01
5 C1orf112  199.011986 -1.62012005    0.2833121 -5.7184998 1.070000e-08
6 FGR       122.792530 -5.60936805    0.6378324 -8.7944226 1.440000e-18
  padj
1 8.209295e-03
2           NA
3 9.144493e-01
4 3.312390e-01
5 1.590000e-07
6 7.150000e-17

  gene.name baseMean   log2FoldChange lfcSE     stat       pvalue
1 TSPAN6     25.256745  0.79648366    0.3778646  2.1078545 3.504358e-02
2 TNMD        0.288508  0.11136908    0.5380579  0.2069835 8.360228e-01
3 DPM1      163.507773 -0.35399129    0.2170358 -1.6310274 1.028845e-01
4 SCYL3     296.461713  0.07204111    0.1698354  0.4241819 6.714331e-01
5 C1orf112  199.011986  0.20171786    0.2517235  0.8013470 4.229308e-01
6 FGR       122.792530 -3.99706084    0.5938327 -6.7309544 1.690000e-11
  padj
1 1.592970e-01
2           NA
3 3.222973e-01
4 8.587087e-01
5 6.914181e-01
6 1.250000e-09

In [196]:
# 5.1-Subset the 2 datafreames
df.nav.d14.sub <- df.nav.d14[c("baseMean", "log2FoldChange","padj")]
df.nav.mem.sub <- df.nav.mem[c("baseMean", "log2FoldChange","padj")]
head(df.nav.d14.sub)
head(df.nav.mem.sub)

  baseMean   log2FoldChange padj
1  25.256745  1.30246882    8.209295e-03
2   0.288508 -0.05077872              NA
3 163.507773 -0.05502833    9.144493e-01
4 296.461713  0.27370099    3.312390e-01
5 199.011986 -1.62012005    1.590000e-07
6 122.792530 -5.60936805    7.150000e-17

  baseMean   log2FoldChange padj
1  25.256745  0.79648366    1.592970e-01
2   0.288508  0.11136908              NA
3 163.507773 -0.35399129    3.222973e-01
4 296.461713  0.07204111    8.587087e-01
5 199.011986  0.20171786    6.914181e-01
6 122.792530 -3.99706084    1.250000e-09

In [197]:
# 5.2 Concatenate the 2 dataframes
df.nav.d14.mem <- cbind(df.nav.d14.sub, df.nav.mem.sub)
colnames(df.nav.d14.mem) <- c("baseMean", "log2FoldChange.x", "padj.x", "baseMean_NULL", "log2FoldChange.y", "padj.y")
df.nav.d14.mem$baseMean_NULL <- NULL
head(df.nav.d14.mem)

  baseMean   log2FoldChange.x padj.x       log2FoldChange.y padj.y
1  25.256745  1.30246882      8.209295e-03  0.79648366      1.592970e-01
2   0.288508 -0.05077872                NA  0.11136908                NA
3 163.507773 -0.05502833      9.144493e-01 -0.35399129      3.222973e-01
4 296.461713  0.27370099      3.312390e-01  0.07204111      8.587087e-01
5 199.011986 -1.62012005      1.590000e-07  0.20171786      6.914181e-01
6 122.792530 -5.60936805      7.150000e-17 -3.99706084      1.250000e-09

In [198]:
# 5.3 Sort the rbind dataframe
df.nav.d14.mem.srt <- df.nav.d14.mem[order(df.nav.d14.mem$baseMean),]
head(df.nav.d14.mem.srt)

    baseMean   log2FoldChange.x padj.x log2FoldChange.y padj.y
78  0.05932533  0.08516965      NA      0.03467809      NA
143 0.09053621  0.00000000      NA     -0.12804415      NA
177 0.11865065  0.15015459      NA      0.11006061      NA
399 0.14345538  0.06952303      NA     -0.05276310      NA
382 0.15787023 -0.11999276      NA      0.02561065      NA
121 0.21961349 -0.05017946      NA      0.10178886      NA

In [199]:
# Alternative Solution: 5.2/5.3-Merge and sort by baseMean
df.nav.d14.mem <- merge(df.nav.d14.sub, df.nav.mem.sub, by = "baseMean")
head(df.nav.d14.mem)

  baseMean   log2FoldChange.x padj.x log2FoldChange.y padj.y
1 0.05932533  0.08516965      NA      0.03467809      NA
2 0.09053621  0.00000000      NA     -0.12804415      NA
3 0.11865065  0.15015459      NA      0.11006061      NA
4 0.14345538  0.06952303      NA     -0.05276310      NA
5 0.15787023 -0.11999276      NA      0.02561065      NA
6 0.21961349 -0.05017946      NA      0.10178886      NA

In [279]:
# 5.4-Define function to test padj as NA/sig/nonsig
sigTest <- function(x){
    if (is.na(x)) {
        return(NA)
    }
    if (x > 0.05){
        return("nonsig")
    }
    else if (x <= 0.05){
        return("sig")
    }
}

In [282]:
# 5.5-Apply the function to test nav.d14 and nav.mem
df.nav.d14.sigtest <- lapply(df.nav.d14$padj,sigTest)
df.nav.mem.sigtest <- lapply(df.nav.mem$padj,sigTest)

In [285]:
# 5.5-Append results to nav.d14
df.nav.d14.type <- data.frame(unlist(df.nav.d14.sigtest),stringsAsFactors=FALSE)
colnames(df.nav.d14.type) <- c("Type")
df.nav.d14.results <- cbind(df.nav.d14, df.nav.d14.type)
head(df.nav.d14.results)

  gene.name baseMean   log2FoldChange lfcSE     stat       pvalue
1 TSPAN6     25.256745  1.30246882    0.4166710  3.1258926 1.772662e-03
2 TNMD        0.288508 -0.05077872    0.4875003 -0.1041614 9.170413e-01
3 DPM1      163.507773 -0.05502833    0.2492486 -0.2207769 8.252662e-01
4 SCYL3     296.461713  0.27370099    0.1964251  1.3934117 1.634953e-01
5 C1orf112  199.011986 -1.62012005    0.2833121 -5.7184998 1.070000e-08
6 FGR       122.792530 -5.60936805    0.6378324 -8.7944226 1.440000e-18
  padj         Type
1 8.209295e-03 sig
2           NA NA
3 9.144493e-01 nonsig
4 3.312390e-01 nonsig
5 1.590000e-07 sig
6 7.150000e-17 sig

In [288]:
# 5.5-Append results to nav.mem
df.nav.mem.type <- data.frame(unlist(df.nav.mem.sigtest),stringsAsFactors=FALSE)
colnames(df.nav.mem.type) <- c("Type")
df.nav.mem.results <- cbind(df.nav.mem, df.nav.mem.type)
head(df.nav.mem.results)

  gene.name baseMean   log2FoldChange lfcSE     stat       pvalue
1 TSPAN6     25.256745  0.79648366    0.3778646  2.1078545 3.504358e-02
2 TNMD        0.288508  0.11136908    0.5380579  0.2069835 8.360228e-01
3 DPM1      163.507773 -0.35399129    0.2170358 -1.6310274 1.028845e-01
4 SCYL3     296.461713  0.07204111    0.1698354  0.4241819 6.714331e-01
5 C1orf112  199.011986  0.20171786    0.2517235  0.8013470 4.229308e-01
6 FGR       122.792530 -3.99706084    0.5938327 -6.7309544 1.690000e-11
  padj         Type
1 1.592970e-01 nonsig
2           NA NA
3 3.222973e-01 nonsig
4 8.587087e-01 nonsig
5 6.914181e-01 nonsig
6 1.250000e-09 sig